.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 10%;
    background-color: #fff;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    a.logo {
        display: flex;
        align-items: center;
        img {
            height: 3rem;
        }
    }
    div.buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}